/* Estilos personalizados */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F0EA;

}



/* Estilos generales del menú */
.navbar {
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0; /* Espaciado superior e inferior */
    margin-top: 35px;
}

.navbar .container {
    display: flex; /* Usamos flexbox para la disposición */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center; /* Centrado vertical */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centramos el contenedor */
    padding: 0 20px; /* Espaciado lateral */
}

.navbar-nav {
    flex-grow: 1; /* Permitir que el menú ocupe el espacio disponible */
    justify-content: center; /* Centrar el menú */
}

/* Centramos el menú en pantallas pequeñas */
@media (max-width: 992px) {
    .navbar-nav {
        width: 100%; /* Ancho completo para ocupar el espacio */
        justify-content: center; /* Centramos el menú */
    }

    .navbar-collapse {
        text-align: center; /* Centra el texto en el menú hamburguesa */
    }
}

/* Cambia el color del navbar-toggler */
.navbar-toggler {
    border: none; /* Sin borde */
}

.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque */
}

/* Estilo de las barras del toggler */
.navbar-toggler .navbar-toggler-icon {
    background-color: transparent; /* Hacemos que el fondo sea transparente */
}

/* Barras con puntas redondeadas */
.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after,
.navbar-toggler .navbar-toggler-icon span {
    content: '';
    display: block;
    width: 25px; /* Ajusta el ancho de las barras */
    height: 4px; /* Ajusta la altura de las barras */
    background-color: #a01a58; /* Color de las barras */
    margin: 5px auto; /* Espaciado entre las barras */
    border-radius: 5px; /* Bordes redondeados */
}

/* Menú */
.navbar-menu {
    list-style: none; /* Sin viñetas */
    display: flex; /* Elementos del menú en línea */
    gap: 20px; /* Espaciado entre elementos del menú */
}

.navbar-menu li a {
    text-decoration: none; /* Sin subrayado */
    color: #343a40; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de fuente */
    transition: color 0.3s ease; /* Transición suave para el color */
    font-weight: 500;
}

.navbar-menu li a:hover {
    color: #a01a58; /* Color al pasar el ratón */
}


.nav-icon {
    font-size: 24px; /* Tamaño del ícono */
    transition: color 0.3s ease;
}

.navbar-contact {
    display: flex;
    gap: 20px; /* Espaciado entre íconos */
    align-items: center; /* Centrar verticalmente */
}

.social-icon {
    width: 40px; /* Tamaño del ícono */
    height: auto; /* Mantener la proporción */
    transition: transform 0.3s ease; /* Efecto de transición */
}

/* Efecto hover para los íconos */
.social-icon:hover {
    transform: scale(1.1); /* Agrandar ligeramente al pasar el mouse */
}

/* Asegura que los íconos se vean bien en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-contact {
        margin-top: 15px;
        justify-content: center;
    }
}








/* Estilo básico para h2 con clase titles1 */
h2.titles1 {
    text-align: left;  /* Alineación a la izquierda */
    font-size: 1.5rem;  /* Tamaño de fuente */
    font-weight: bold;  /* Negrita */
    margin-bottom: 15px;
}

h3.subtitles1 {
    text-align: left;  /* Alineación a la izquierda */
    font-size: 1.25rem;  /* Tamaño de fuente */
    font-weight: 800;  /* Negrita */
    margin-bottom: 15px;
}




.intro-section {
    padding: 10px 0;
    margin-top: 60px;
}
.intro-left h1 {
    font-size: 3.3rem;
    font-weight: medium;
    font-family: 'Montserrat', sans-serif;
}
.intro-left h2 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
}


.typewriter {
    font-size: 3.0rem;
    font-weight: bold;
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
}

.intro-left h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; /* Ajusta el tamaño según tus preferencias */
    font-weight: 600; /* Puedes cambiar a bold si prefieres */
    color: #a01a58; /* Mismo color que el h2 */
    margin: 15px 0; /* Espaciado superior e inferior */
}





/* Estilo del botón normal */
.intro-left .btn-primary {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
background-color: #a01a58;
color: white;
border: none;
padding: 12px 40px;
margin-top: 20px;
border-radius: 35px;
font-weight: bold;
transition: background-color 0.4s ease; /* Solo se aplica a color de fondo */
position: relative;
overflow: hidden;
}

/* Hover en el botón */
.intro-left .btn-primary:hover {
background-color: #7a1141; /* Color de fondo al hacer hover */
transition: background-color 0.4s ease;
}

/* Crea el efecto de carga simulada */
.intro-left .btn-primary::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.2);
transform: scaleX(0);
transform-origin: left;
transition: transform 0.5s ease-in-out;
}

/* El efecto de carga al hacer hover */
.intro-left .btn-primary:hover::before {
transform: scaleX(1);
}


/* Ajustes para la imagen y el contenedor */
.img-right {
    max-width: 100%; /* La imagen ocupará un 50% del contenedor */
    height: auto;
}

.img-right img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    z-index: 0; /* Para que la imagen esté detrás del texto */
    position: relative;
}


@media (max-width: 768px) {

    .intro-section {
        margin-top: 0px;
        padding-top: 0px;
    }
    .intro-section .row {
        flex-direction: column; /* Cambiar a columna para apilar elementos */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    .img-right {
        order: 0; /* Asegura que la imagen esté primero */
        width: 100%; /* La imagen ocupará el 100% del ancho */
    }

    .intro-left {
        order: 1; /* Asegura que el texto esté segundo */
        text-align: center; /* Centrar texto */
        position: relative; /* Posición relativa para centrar el texto sobre la imagen */
        margin-top: -40%; /* Ajustar la posición del texto para superponer sobre la imagen */
    }
    
    /* Centrar los títulos y el botón en la parte superior de la imagen */
    .intro-left h1,
    .intro-left h2,
    .intro-left h3 {
        margin: 0; /* Eliminar márgenes para alineación */
        padding: 5px 0; /* Espaciado entre los elementos */
    }

    .intro-left h1 {
        font-weight: bold;
    }

    .intro-left h3 {
        font-size: 1.0rem;
    }

    .intro-left .btn-primary {
        margin-top: 20px; /* Espaciado para el botón */
    }
}











.about-section {
padding: 40px 0;
font-family: 'Montserrat', sans-serif;
}

.about-section h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .about-section h3 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .about-section p {
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: justify;
            font-weight: 200;
        }

        @media (max-width: 768px) {
            .about-section p {
                font-size: 0.8rem;
                line-height: 1.8;
                text-align: justify;
            }
    


        }
        .about-content {
            border-left: 5px solid #a01a58; /* Línea decorativa */
            padding-left: 20px;
        }
        .highlight {
            color: #a01a58;
            font-weight: 600;
        }











.projects-section {
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;

}


@media (max-width: 768px) {
.projects-section h2{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 22px;
}
}


.intro {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-left: 5px solid #a01a58; /* Línea decorativa */
    padding-left: 20px;
}


.intro p {
    font-size: 1.125rem;
    color: #555;
    margin: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-content {
    padding: 15px;
    text-align: center;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.project-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.btn-custom {
    background-color: #a01a58;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-custom:hover {
    text-decoration:none;
    color: #fff;
}





/* Estilos generales para la sección de contacto */
.contact-section {
    padding: 60px 20px;
    background: linear-gradient(135deg, rgba(160, 26, 88, 0.1), rgba(0, 0, 0, 0.05));
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #a01a58;
    margin: 10px auto 0;
}

.contact-intro {
    font-size: 1.125rem;
    margin-bottom: 40px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.contact-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contact-card i {
    font-size: 2.5rem;
    color: #a01a58;
    margin-bottom: 15px;
}

.contact-card h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-card a {
    font-size: 1.125rem;
    color: #a01a58;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-card a:hover {
    color: #555;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .contact-grid {
        flex-direction: column;
        gap: 30px;
    }
}



.footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #a01a58; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centrar texto */
    padding: 5px 0; /* Espaciado vertical */
    position: relative; /* Para posicionar el footer */
    bottom: 0;
    width: 100%; /* Ancho completo */
    font-size: 0.8rem;
}




@media (max-width: 768px) {
    .intro p{
        font-size: 1.0rem;
    }

    .intro-left h1 {
        font-size: 1.5rem;
        font-weight: medium;
        font-family: 'Montserrat', sans-serif;
    }

    .intro-left h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #343a40;
        font-family: 'Montserrat', sans-serif;
    }

    .typewriter {
        font-size: 1.5rem;
        font-weight: bold;
        color: #343a40;
        font-family: 'Montserrat', sans-serif;
    }
}
